body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_pic/00/15/30/4656e81f6dc57c5.jpg);
    background-repeat: no-repeat;
    background-size: 1600px 1000px;
    width: 100vw;
    height: 100vh;
  }
  
  .logo {
    width: 150px;
    height: 100px;
    margin: 3% 10%;
  }
  
  header {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
  }
  
  main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }
  
  nav > a {
    margin: 2% 1% 3%;
    height: 10%;
    width: 15%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
  }
  
  .has-border {
    border-radius: 25px;
    border: 2px solid rgb(3, 61, 13);
    background: none;
    padding: 20px;
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 2%;
  }
  
  #profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 15% auto;
    grid-column: 2/3;
  }
  
  h1 {
    color:white;
    grid-column: 2/3;
    margin: 3% auto;
    border-bottom: 2px solid rgb(3, 61, 13);;
  }
  
  h2 {
    grid-column: 2/3;
    margin: 3% auto;
    font-style: italic;
  }
  
  .small-text {
    grid-column: 2/3;
    color: rgb(255, 255, 255);
    font-size: 10px;
    margin: 3% auto;
  }
  
  button {
    grid-column: 2/3;
    margin: 3% auto;
    width: 70%;
    height: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    padding-bottom: 5%;
    text-align: center;
    color: white;
    letter-spacing: 16px;
    font-style: italic;
  }

  /* Extra Small and up (Portrait Phones) */

  header {
    background-color: black;
  }

  .logo {
    width: 0px;
    height: opx;
    margin: 0% 0%;
  }

  main {
    background-color: black;
  }

  #profile-pic {
    width: 200px;

    height: 200px;
  }

  .has-border {
    border: 2px solid white;
    font-size: small;
  }

  h1 {
    border-bottom: 2px solid white;
  }

  h2 {
    color: white;
  }

  button {
    font-size: smaller;

    border: transparent;
  }
}

  /* Small and up (Landscape Phones) */
@media (min-width: 576px) {
  .logo {
    width: 150px;
    height: 100px;
    margin: 3% 10%;
  }
}
 

/* Medium and up (Tablets) */
@media (min-width: 768px) {
  .logo {
    width: 150px;
    height: 100px;
    margin: 3% 10%;
  }

  #profile-pic {
    width: 300px;

    height: 300px;
  }

  .has-border {
    font-size: medium;
  }

  button {
    font-size: small;
  }
}

/* Large and up (Desktops) */
@media (min-width: 992px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_pic/00/15/30/4656e81f6dc57c5.jpg);
    background-repeat: no-repeat;
    background-size: 1600px 1000px;
    width: 100vw;
    height: 100vh;
  }
  
  .logo {
    width: 150px;
    height: 100px;
    margin: 3% 10%;
  }
  
  header {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    background-color: transparent;
  }
  
  main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    background-color: transparent;
  }
  
  nav > a {
    margin: 2% 1% 3%;
    height: 10%;
    width: 15%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
  }
  
  .has-border {
    border-radius: 25px;
    border: 2px solid darkblue;
    background: none;
    padding: 20px;
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 2%;
  }
  
  #profile-pic {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin: 15% auto;
    grid-column: 2/3;
  }
  
  h1 {
    color: black;
    grid-column: 2/3;
    margin: 3% auto;
    border-bottom: 2px solid black;
  }
  
  h2 {
    grid-column: 2/3;
    margin: 3% auto;
    font-style: italic;
  }
  
  .small-text {
    grid-column: 2/3;
    color: rgb(255, 255, 255);
    font-size: 10px;
    margin: 3% auto;
  }
  
  button {
    grid-column: 2/3;
    margin: 3% auto;
    width: 70%;
    height: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    padding-bottom: 5%;
    text-align: center;
    color: white;
    letter-spacing: 16px;
    font-style: italic;
    border-color: white;
  }
}

/* Extra Large and up (Wide Screen Desktops) */
@media (min-width: 1200px) {

}