.grid {
    display: grid;

    grid-template-columns: 1fr 1fr;

    grid-template-areas:
    "greeting greeting"

    "clock       clock"

    "date         temp"

    "to-do  calculator"
}

.greeting {
    grid-area: greeting;

    background-color: rgb(255, 51, 0);

    color: white;

    text-align: center;
}

.clock {
    grid-area: clock;

    background-color: orangered;

    color: white;

    text-align: center;
}

.date {
    grid-area: date;

    background-color: rgb(255, 136, 0);

    color: white;
}

.temp {
    grid-area: temp;

    background-color: rgb(255, 136, 0);

    color: white;

    text-align: center;
}

.to-do {
    grid-area: to-do;

    background-color: yellow;

    color: black;
}

.to-do > h2 {
    text-decoration: underline;
}

.calculator-box {
    grid-area: calculator;

    background-color: yellow;

    color: black;

    text-align: center;
}

.display {
    align-content: center;
}

.row2 {
    display: flex;
    justify-content: center;
}

.row3 {
    display: flex;
    justify-content: center;
}

.row4 {
    display: flex;
    justify-content: center;
}

.row5 {
    display: flex;
    justify-content: center;
}

button {
    margin: 10px;
    font-size: 26px;
    background-color: transparent;
    border-radius: 8px;
}
